.navbar {
  min-height: 92px;
  padding: 1em 0.5em;
  background-color: #363636;
  width: 100%;
  display: flex;
}

.navigation-container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: stretch;
}

.navigation-left {
  display: flex;
  width: 50%;
  align-items: center;
}

.navigation-right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-link {
  padding-right: 24px;
  padding-left: 24px;
  transition: all 300ms ease;
  color: #ccc;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: red;
}
