const RookiesController = require("../controller/rookies.controller")

exports.routesConfig = function (app) {
  app.post("/rookies", [RookiesController.insert])

  app.get("/rookies", [RookiesController.list])

  app.get("/rookies/:id", [RookiesController.findById])

  app.patch("/rookies/:id", [RookiesController.patchById])

  app.delete("/rookies/:id", [RookiesController.deleteById])
}
